.app-content {
    height: 100vh;
}

.app-header.ant-layout-header {
    background: #fff;
    padding: 0;
    overflow: hidden;
}

.logo {
    float: left;
    width: 200px;
    height: 66px;
}

.app-nav {
    width: calc(100% - 200px);
    float: left;
}